.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.text-center {
  text-align: center;
}
.colorPrimary {
  color: #ff6f48;
}
i {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
body {
  color: #858585;
}
.header {
  background-color: transparent;
}
.header .primary-menu ul li a,
.header .primary-menu ul li.has-menu-child i {
  color: #fff;
}
.header.fixed-header {
  background-color: #fff;
}
.header.fixed-header ul li a {
  color: #778692;
}

.header .primary-menu ul li:hover a,
.header .primary-menu ul li:hover i {
  color: #ff6f48;
}
.header .primary-menu ul li a {
  padding: 5px 15px;
}
.header .primary-menu ul li.has-menu-child ul.sub-menu a:hover {
  background-color: #e0dfde;
  color: #ff6f48;
}
.header .responsive-block {
  display: inherit;
}
.header .responsive-block #login {
  margin: 0px !important;
}
@media only screen and (max-width: 992px) {
  .header .responsive-block {
    position: absolute;
    right: 65px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.header #login-mobile,
.header #lang-mobile {
  display: none;
}
@media only screen and (max-width: 500px) {
  .header .responsive-block {
    display: none;
  }
  .header #login-mobile,
  .header #lang-mobile {
    display: block;
  }
}
@media only screen and (min-width: 500px) {
}
.form-field.selectorZona {
  width: 50%;
  margin: 50px auto;
}
.form-field.selectorZona .curr-select {
  flex-basis: 100%;
  max-width: 100%;
}

.containerFormLogin {
  display: none;
  width: 400px;
  top: 90px;
  right: 40px;
  position: fixed;
  z-index: 1000;
  background: white;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #ff6f48;
}
.containerFormLogin .form-field {
  margin-bottom: 20px;
}
.containerFormLogin div {
  margin: auto;
}
/*TODO: Pasar a estado en React*/
#login.active,
#signup.active {
  color: #ff6f48;
}
.btn-default {
  min-width: auto;
  border-radius: 0.25rem;
  padding: 15px;
}
.btn-default:hover {
  /*color: #4c5667;*/
}
.btn-register {
  min-width: auto;
  border-radius: 0.25rem;
  padding: 15px;
  background-color: #4c5667;
}
.btn-register:hover {
  color: #ff5b35;
}
.lang button,
.lang a {
  margin-left: 20px;
  width: 40px;
  background: transparent;
  border: none;
  display: inline-flex;
  cursor: pointer;
}
.lang button i,
.lang a i {
  margin: auto 5px;
  color: #6c6c6f;
}

.lang .dropdown-menu {
  background-color: transparent;
  border: none;
  left: -20px !important;
  min-width: 50px !important;
}

.faq-tab .nav a.active {
  background-color: #fff;
  border-color: #ff5b35;
  color: #4c5667;
}

.banner.contact:before {
  background-image: url("https://unsplash.com/photos/jCYpHYIgXE4");
}

.footer {
  background-color: #778692;
}

.switcher {
  display: none;
}
